<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Visualization Template</title>
    <meta name="description" content="Visualization Template">
    <meta name="author" content="Ben Zhang">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/mode-javascript.js"></script>
  </head>
  <body>
    <div class="meta">
      Made with `vue.js`, `d3.js`.
    </div>

    <div id="spreadsheet">
      <p class="error" v-if="!sid">
        You must provide a spreadsheet ID, such as 1D1iKRCZlJ162wXB9MtoPvRYxde_EWbFyVuvlUZliC28
      </p>

      <a v-show="sid" href="{{ url }}">{{ url }}</a>
      <br>
      <input v-model="sid" size="50">
    </div>

    <div id="javascript">
      <div id="editor" style="height: 500px; width: 500px"></div>
      <button onclick="run()">Run</button>
    </div>

    <div id="chart">
      <svg></svg>
    </div>
    <script src="frontend.js"></script>
  </body>
  <script>
    var editor = ace.edit("editor");
    editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().on('change', codeUpdated);
  </script>
</html>
